*{
    margin:0 ;
    padding: 0;
    box-sizing:border-box ;
}
#campo{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}

.quadrato{
    background-color: green;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
.color{
    background-color: red;
}